/* styles.css */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
}



header {
    background-color: #6A0DAD; /* Violet foncé */
    color: white;
    padding: 0.5em 20px;
    text-align: left; /* Alignement à gauche */
    position: relative;
}

header h1 {
    margin: 0;
    font-size: 2em;
}

header figure {
    margin: 0;
    position: absolute;
    top: 10px;
    right: 30px;
    text-align: center;
}

header img {
    height: 60px;
    width: auto;
}

header figcaption {
    font-size: 0.9em;
    margin-top: 5px;
    color: white;
    width: 150px;
}

/* Texte sous le titre */
header p {
    margin: 10px 0;
    font-size: 1.1em;
}

/* Bloc réseaux sociaux */
.reseaux-sociaux {
    margin-top: 10px;
    display: flex;
    gap: 10px;
}

.reseaux-sociaux a {
    color: white;
    font-size: 1.2em;
    text-decoration: none;
    transition: color 0.3s;
}

.reseaux-sociaux a:hover {
    color: #ddd;
}


nav {
    display: flex;
    justify-content: center;
    background-color: #5A189A; /* Violet moyen */
}

nav a {
    color: white;
    padding: 14px 20px;
    text-decoration: none;
    text-align: center;
}

nav a:hover {
    background-color: #ddd;
    color: black;
}

.container {
    padding: 20px;
}

.product {
    border: 1px solid #ddd;
    margin: 16px 0;
    padding: 16px;
    text-align: center;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.product img {
    max-width: 50%;
    height: auto;
    border-radius: 8px;
    margin-bottom: 10px;
}

.carousel {
    position: relative;
    width: 100%;
    max-width: 600px;
    margin: auto;
    overflow: hidden;
    border-radius: 8px;
}

.carousel img {
    width: 100%;
    display: none;
    border-radius: 8px;
}

.carousel img.active {
    display: block;
}

.carousel .controls {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.carousel .controls button {
    background-color: rgba(0, 0, 0, 0.5);
    border: none;
    color: white;
    padding: 10px;
    cursor: pointer;
}

.carousel .controls button:hover {
    background-color: rgba(0, 0, 0, 0.7);
}

footer {
    background-color: #5A189A;
    color: white;
    text-align: center;
    padding: 1px 0;
    position: fixed;
	 font-size: 0.85em; /* ↓ texte plus petit */
    width: 100%;
    bottom: 0;
}

.container {
    padding: 20px;
    padding-bottom: 80px; /* Ajout de marge pour laisser place au footer fixe */
}
